body{
    background-color: rgb(255, 255, 255);
}

#cuadroNav{
    height: 65px;
    }

h1.titulo{
    margin-top: 70px;
    margin-bottom: 30px;
    font-weight: bold;
}   

h2.subtitulo{
    margin-top: 35px;
    margin-bottom: 40px;
    font-weight: bold;
}

#explicacion1{
    background-color: #F1F1F1;
    width: 500px;
    border-radius: 15px;
    float: left;
}

#explicacion{
    margin-top: 30px;
    float: right;  

}





