/* PLANTILLA PARA TODAS LAS PAGINAS */     /* PLANTILLA PARA TODAS LAS PAGINAS */
*{
font-family: 'Roboto', sans-serif;
}
/* FONDO BLANCO PARA TODAS LAS PAGINAS */
body{
    background-color: rgb(255, 255, 255);
}

/* NAVBAR MAS GRANDE */
#cuadroNav{
    height: 65px;
    }

/* TITULO PRINCIAPL DE LA PAGINA */
h1.titulo{
    margin-top: 70px;
    margin-bottom: 30px;
    font-family: 'Lato', sans-serif;
}   


#linea{
    color: #BB1167;
}


/* SUBTITULO PRINCIAPL DE LA PAGINA */
h2.subtitulo{
    margin-top: 35px;
    margin-bottom: 40px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

/* SEPARACION ENTRE ELEMNTOS EN LA NAVBAR */
li{
    margin-top: 2px;
    margin-right: 70px;
    font-size: 20px;
    color: white;
}

/* PLANTILLA PARA TODAS LAS PAGINAS */     /* PLANTILLA PARA TODAS LAS PAGINAS */




#explicacion1{
    background-color: #F1F1F1;
    width: 500px;
    border-radius: 15px;
    float: left;
}

#explicacion{
    margin-top: 30px;
    float: right;  

}
#card_incidentes_helpbox{
width: 300px;
}








